<launch>
  <arg name="visualize_trajectory" default="false"/>
  <node name="trajectory_arc_node" pkg="trajectory_node" type="trajectory_node">
    <param name="visualize" value="$(arg visualize_trajectory)" />
  </node>

  <node name="segmentation_node" pkg="segmentation_node" type="segment.py" />
</launch>
