<launch>
  <arg name="camera_port" default="1"/>
  <arg name="simple_steer" default="true"/>
  <arg name="poly_deg" default="1"/>

  <node name="trajectory_node" pkg="trajectory_node" type="trajectory_node.py" >
    <param name="simple_steer" value="$(arg simple_steer)" type="bool" />
    <param name="poly_deg" value="$(arg poly_deg)"/>
  </node>
  <node name="segmentation_node" pkg="segmentation_node" type="segment.py" >
    <param name="camera_port" value="$(arg camera_port)" />
  </node>
  <node name="steering_listener" pkg="can_interface_node" type="read_can.py"></node>
  </launch>
